@mixin flex($j-center, $f-row) {
    display: flex;
    align-items: center;
    justify-content: $j-center;
    flex-direction: $f-row;
}

* {
    z-index: 2;
    color: #fff;
}

body {
    background-color: #000;
    position: relative;
}

@media (min-width: 0px) {
    header {
        width: 100%;
        background-color: #000;
        color: #fff;
        box-sizing: border-box;

        @include flex(start, row);
    }

    .not-active-auth {
        display: none;
    }

    main {
        width: 100%;
        box-sizing: border-box;
        @include flex(center, column);

        .main--auth__block {
            gap: 20px;
            width: 100%;
            border: 2px solid #9368b6;
            border-radius: 25px;
            box-sizing: border-box;

            @include flex(center, column);

            .main--auth--block__nav {
                width: 100%;
                box-sizing: border-box;
                border-radius: 15px;
                background-color: rgb(147, 104, 182, 0.2);

                .main--auth--block--nav__body {
                    button {
                        box-sizing: border-box;
                        border: 0;
                        border-radius: 10px;
                        background-color: rgb(147, 104, 182, 0.5);
                        min-width: 40%;
                    }

                    .active-auth-button {
                        border-bottom: 2px solid #9368b6;
                        border-top: 2px solid #9368b6;
                    }

                    @include flex(space-around, row);
                }
            }

            .active-auth {
                width: 100%;
                background-color: rgb(147, 104, 182, 0.2);
                box-sizing: border-box;
                border-radius: 15px;

                h1 {
                    box-sizing: border-box;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    header {
        padding: 20px;
    }

    main {
        padding: 20px;

        h1 {
            font-size: 24px;
        }

        .main--auth__block {
            padding: 20px;

            .main--auth--block__nav {
                .main--auth--block--nav__body {
                    padding: 10px;

                    button {
                        padding: 15px;
                        font-size: 16px;
                    }
                }
            }

            .reg {
                padding: 25px;

                h1 {
                    padding: 10px 0px;
                }

                .main--auth--block--type--body--telegram {
                    h1 {
                        font-size: 20px;
                    }
                }

                .main--auth--block--type--body--form {
                    * {
                        margin: 10px 0px;
                    }

                    label {
                        font-size: 14px;
                    }

                    input[type='text'],
                    input[type='number'] {
                        padding: 5px;
                        background-color: rgb(147, 104, 182, 0.5);
                        border-radius: 5px;
                        border: 0;
                    }

                    button {
                        background-color: rgb(147, 104, 182, 0.5);
                        border: 0;
                        border-radius: 15px;
                        padding: 10px;
                        font-size: 16px
                    }

                    @include flex(start, column);
                    align-items: start;
                }
            }
        }
    }
}

@media (min-width: 1000px) {}