* {
  z-index: 2;
  border: 0;
  color: #fff;
}

header {
  width: 100%;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

@media (min-width: 0px) {
  body {
    background-color: #000;
    margin: 0;
  }
  info {
    background-color: rgba(104, 182, 176, 0.3);
    border-left: 3px solid rgb(104, 182, 176);
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
  }
  main {
    width: 100%;
    box-sizing: border-box;
  }
  main .main-- {
    border: 1px solid #fff;
    border-radius: 15px;
    box-sizing: border-box;
  }
  main .main-- button {
    background-color: #9368b6;
    color: #fff;
    box-sizing: border-box;
    border-radius: 15px;
  }
  main .main-- .main__ {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  main .main-- .main__ .main--log__type {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  main .main-- .main__ .main--__form {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    align-items: start;
  }
  main .main-- .main__ .main--__form input {
    box-sizing: border-box;
    background-color: rgba(147, 104, 182, 0.3);
    border-left: 3px solid #9368b6;
    color: #fff;
    border-radius: 10px;
  }
  main .main-- .main__ .main--__form .telegram-auth {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    align-items: start;
  }
  main .main-- .main__ .main--__form .telegram-auth .telegram-t {
    font-size: 18px;
  }
  main .main-- .main__ .main--__form .rules {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .nav {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .nav button {
    background-color: rgba(147, 104, 182, 0.3);
    box-sizing: border-box;
    border-radius: 10px;
  }
  .nav .active-type {
    border-bottom: 2px solid #9368b6;
    border-top: 2px solid #9368b6;
  }
  .nav .close-type {
    border: 0;
  }
  .errors {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .errors div {
    box-sizing: border-box;
    background-color: rgba(221, 113, 96, 0.3);
    border-radius: 15px;
    border-left: 3px solid #d63329;
  }
}
@media (max-width: 1000px) {
  header {
    padding: 20px;
    font-size: 14px;
  }
  info {
    padding: 10px;
  }
  info label {
    font-size: 10px;
  }
  main {
    padding: 20px;
  }
  main .main-- {
    padding: 20px;
  }
  main .main-- button {
    padding: 10px 40px;
  }
  main .main-- .main__ .main--log__type {
    gap: 20px;
  }
  main .main-- .main__ .main--log__type button {
    background-color: rgba(147, 104, 182, 0.3);
    padding: 10px 20px;
    border-radius: 15px;
  }
  main .main-- .main__ .main--log__type .active-log-type {
    border-bottom: 2px solid #9368b6;
    border-top: 2px solid #9368b6;
  }
  main .main-- .main__ .main--log__type .close-log-type {
    border: 0;
  }
  main .main-- .main__ .main--__form {
    gap: 10px;
  }
  main .main-- .main__ .main--__form label {
    font-size: 18px;
  }
  main .main-- .main__ .main--__form input {
    padding: 7px;
  }
  main .main-- .main__ .main--__form .telegram-auth {
    gap: 10px;
  }
  main .main-- .main__ .main--__form .telegram-auth .telegram-p {
    font-size: 14px;
  }
  main .main-- .main__ .main--__form .telegram-auth info label {
    font-size: 14px;
  }
  main .main-- .main__ .main--__form .rules {
    gap: 10px;
  }
  .nav {
    padding: 20px;
  }
  .nav button {
    padding: 15px 40px;
  }
  .errors div {
    padding: 20px 60px;
  }
  .errors div h1 {
    font-size: 18px;
  }
  .errors div p {
    font-size: 14px;
  }
}/*# sourceMappingURL=index.css.map */