@mixin flex($j-center, $f-row) {
    display: flex;
    align-items: center;
    justify-content: $j-center;
    flex-direction: $f-row;
}

* {
    z-index: 2;
    border: 0;
    color: #fff;
}

header {
    width: 100%;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;

    @include flex(start, row);
}

@media (min-width: 0px) {
    body {
        background-color: #000;
        margin: 0;
    }

    info {
        background-color: rgba(104, 182, 176, 0.3);
        border-left: 3px solid rgb(104, 182, 176);
        color: #fff;
        border-radius: 10px;
        box-sizing: border-box;
    }

    main {
        width: 100%;
        box-sizing: border-box;

        .main-- {
            border: 1px solid #fff;
            border-radius: 15px;
            box-sizing: border-box;

            button {
                background-color: #9368b6;
                color: #fff;
                box-sizing: border-box;
                border-radius: 15px;
            }

            .main__ {
                @include flex(center, column);
                align-items: center;

                .main--log__type {
                    @include flex(center, row);
                }

                .main--__form {
                    @include flex(start, column);
                    align-items: start;

                    input {
                        box-sizing: border-box;
                        background-color: rgba(147, 104, 182, 0.3);
                        border-left: 3px solid #9368b6;
                        color: #fff;
                        border-radius: 10px;
                    }

                    .telegram-auth {
                        @include flex(start, column);
                        align-items: start;

                        .telegram-t {
                            font-size: 18px;
                        }
                    }

                    .rules {
                        @include flex(space-around, row);
                    }
                }
            }
        }
    }

    .nav {
        width: 100%;
        box-sizing: border-box;
        @include flex(space-around, row);

        button {
            background-color: rgba(147, 104, 182, 0.3);
            box-sizing: border-box;
            border-radius: 10px;
        }

        .active-type {
            border-bottom: 2px solid #9368b6;
            border-top: 2px solid #9368b6;
        }

        .close-type {
            border: 0;
        }
    }

    .errors {
        max-width: 70%;
        width: 70%;
        @include flex(center, column);

        div {
            max-width: 70%;
            box-sizing: border-box;
            background-color: rgba(221, 113, 96, 0.3);
            border-radius: 15px;
            border-left: 3px solid #d63329;
        }
    }
}

@media (max-width: 1000px) {
    header {
        padding: 20px;
        font-size: 14px;
    }

    info {
        label {
            font-size: 10px;
        }

        padding: 10px;
    }

    main {
        padding: 20px;

        .main-- {
            padding: 20px;

            button {
                padding: 10px 40px;
            }

            .main__ {
                .main--log__type {
                    gap: 20px;

                    button {
                        background-color: rgba(147, 104, 182, 0.3);
                        padding: 10px 20px;
                        border-radius: 15px;
                    }

                    .active-log-type {
                        border-bottom: 2px solid #9368b6;
                        border-top: 2px solid #9368b6;
                    }

                    .close-log-type {
                        border: 0;
                    }
                }

                .main--__form {
                    gap: 10px;

                    label {
                        font-size: 18px;
                    }

                    input {
                        padding: 7px;
                    }

                    .telegram-auth {
                        gap: 10px;

                        .telegram-p {
                            font-size: 14px;
                        }

                        info label {
                            font-size: 14px;
                        }
                    }

                    .rules {
                        gap: 10px;
                    }
                }
            }
        }
    }

    .nav {
        padding: 20px;

        button {
            padding: 15px 40px;
        }
    }

    .errors {
        div {
            padding: 20px 20px;

            h1 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 1000px) {}